@page "/"
@using Microsoft.Fast.Components.FluentUI

<div class="center" style="margin-top:50px; margin-bottom: 20px">
    <FluentTabs id="myTab" style="margin: auto; text-align: center" >
        <FluentTab id="TabOne">Update persons</FluentTab>
        <FluentTab id="TabTwo">Get persons by min age</FluentTab>
        <FluentTab id="TabThree">Get specific person by id</FluentTab>
        <FluentTab id="TabFour">Add new person</FluentTab>
        <FluentTab id="TabFive">Change person data</FluentTab>
        <FluentTab id="TabSix">Delete person</FluentTab>
        <div style="margin-top: 10px; margin-bottom: 10px"></div>
        <FluentTabPanel id="TabPanelOne">
            <FluentDivider style="width: 777px"/>
            <div style="margin: auto;">
                <p class="cst-p">Commit to get an update from the database.</p>
                <FluentButton Appearance="Appearance.Accent" @onclick="() => FetchAll(true)" style="width: 400px">COMMIT</FluentButton>
            </div>
        </FluentTabPanel>
        <FluentTabPanel id="TabPanelTwo">
            <FluentDivider style="width: 777px"/>
            <div style="margin: auto;">
                <p class="cst-p">Enter the minimum age and commit to get a list of persons of that age or older.</p>
                <FluentNumberField Min="0" Max="100" @bind-Value="@_formModel.Age" style="width: 400px"></FluentNumberField>
                <FluentButton Appearance="Appearance.Accent" @onclick="GetByAge" style="width: 400px">COMMIT</FluentButton>
            </div>
        </FluentTabPanel>
        <FluentTabPanel id="TabPanelThree">
            <FluentDivider style="width: 777px"/>
            <div style="margin: auto;">
                <p class="cst-p">Enter an id and commit to search for that specific person.</p>
                <FluentSelect @bind-Value="@_formModel.Id" style="width: 400px">
                    @foreach (var user in _currentResponseModel.ServiceUsers)
                    {
                        <FluentOption Value="@user.Id">@user.Id</FluentOption>
                    }
                </FluentSelect>
                <FluentButton Appearance="Appearance.Accent" @onclick="GetById" style="width: 400px">COMMIT</FluentButton>
            </div>
        </FluentTabPanel>
        <FluentTabPanel id="TabPanelFour">
            <FluentDivider style="width: 777px"/>
            <div style="margin: auto;">
                <p class="cst-p">Enter the desired values (all fields required) to add a new person to the database.</p>
                <FluentTextField Appearance="Appearance.Accent" Minlength="1" Maxlength="100" Placeholder="name" @bind-Value="@_formModel.UserName" style="width: 400px"/>
                <FluentTextField Appearance="Appearance.Accent" Minlength="1" Maxlength="100" Placeholder="mail" @bind-value="@_formModel.Mail" style="width: 400px"/>
                <FluentNumberField Min="0" Max="100" Placeholder="age" @bind-Value="@_formModel.Age" style="width: 400px"></FluentNumberField>
                <FluentButton Appearance="Appearance.Accent" style="width: 400px"  @onclick="Create">COMMIT</FluentButton>
            </div>
        </FluentTabPanel>
        <FluentTabPanel id="TabPanelFive">
            <FluentDivider style="width: 777px"/>
            <div style="margin: auto;">
                <p class="cst-p">Choose a person by its id, change the desired values and commit.</p>
                <FluentSelect @bind-Value="@_formModel.Id" style="width: 400px">
                    @foreach (var user in _currentResponseModel.ServiceUsers)
                    {
                        <FluentOption Value="@user.Id">@user.Id</FluentOption>
                    }
                </FluentSelect>
                <FluentTextField Appearance="Appearance.Accent" Minlength="1" Maxlength="100" Placeholder="name" @bind-Value="@_formModel.UserName" style="width: 400px"/>
                <FluentTextField Appearance="Appearance.Accent" Minlength="1" Maxlength="100" Placeholder="mail" @bind-Value="@_formModel.Mail" style="width: 400px"/>
                <FluentNumberField Min="0" Max="100" Placeholder="age" style="width: 400px" @bind-Value= "@_formModel.Age"></FluentNumberField>
                <FluentButton Appearance="Appearance.Accent" style="width: 400px" @onclick="Update">COMMIT</FluentButton>
            </div>
        </FluentTabPanel>
        <FluentTabPanel id="TabPanelSix">
            <FluentDivider style="width: 777px"/>
            <div style="margin: auto;">
                <p class="cst-p">Choose a person by its id and commit to delete it from the database.</p>
                <FluentSelect @bind-Value="@_formModel.Id" style="width: 400px">
                    @foreach (var user in _currentResponseModel.ServiceUsers)
                    {
                        <FluentOption Value="@user.Id">@user.Id</FluentOption>
                    }
                </FluentSelect>
                <FluentButton Appearance="Appearance.Accent" style="width: 400px" @onclick="Delete">COMMIT</FluentButton>
            </div>
        </FluentTabPanel>
    </FluentTabs>
</div>

@if (_showStatusMessage)
{
    <div style="background-color: @BadgeColor" class="badge">
        <p class="badge-font">
            @StatusMessage
        </p>
    </div>
}
else
{
    <div style="background-color: transparent" class="badge"></div>
}

<div class="center" style="margin-top: 20px">
    <FluentDataGrid RowsData="_currentResponseModel.ServiceUsers" ColumnDefinitions="_columnsGrid" GridTemplateColumns="1fr 1fr 1fr 1fr"/>
</div>
